*{
    margin: 0;
    padding-left: 2px;
    padding-top: 4px;
    padding-right: 2px;
}
body{
    background-color: rgb(70, 63, 63);
    color: white;
}
navbar{
    display: flex;
    justify-content: center;
}
.list{
        display: flex;
            align-items: center;
            justify-content: space-around;
            position: sticky;
            top: 0;
            z-index: 50px;
            background-color: rgb(7, 218, 63);
            padding: 20px 0px;
            flex-wrap: wrap;
            text-decoration: none;
            list-style: none;
            display: flex;
            
}
.list a{
    text-decoration: none;
}
.navbar{
    font-size: xx-large;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.logo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
.searchbar{
    width: 300px;
    padding: 10px;
    font-size: 16px;
}
.searchbtn{
    padding: 10px;
    font-size: 16px;
}
.btn{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    
}



    
}