h1{
    background-color: rgb(84, 211, 6);
    position: relative;
    left: 100px;
    top: 5px;
    bottom: 100px;
}
h2{
    background-color: aqua;
   
}
#ida{
    background-color: blue;
    position: sticky;
    top: 0px;
}
#fixed{
    background-color: aqua;
    position: fixed;
}