/*by selector*/

h1{
    background-color: aqua;
}
h2{
    background-color: bisque;
}
/*selection by id*/
#prsnl{background-color: blueviolet;

}
#form1{
    background-color: rgb(54, 123, 40,0.5);
}

/*selection by class */
.h1{
    background-color: aquamarine;
    font-size: .2px;
}
.para{                                            /*this font is from google font */
    font-family: "Playwrite GB J", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
}

/*selection by group*/
button,p.pp {
    /*here are button and para are selected */
    background-color: rgba(12, 30, 227, 0.281)

}

/*em*/
ul{
    font-size: 10em;
}

/*vh*/
#ll{
    font-size: 4vh;
}
#lll{
    font-size: 100vh;

    font-weight: 990;
}

#googlefont{
    font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}